.custom_contact_us_grid {
    display: flex;
    justify-content: space-between;
}
.conatct_left_side_content {
    max-width: 50%;
    width: 100%;
}
.conatct_right_side_content {
    max-width: 42.5%;
    background: #F4F4F4;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
}
.left_info_grid {
    display: flex;
    gap: 100px;
}
h2.title.title-wrapper--no-top-margin.inline-richtext.h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 67px;
}
  .contact-info h4 , 
  .contact-info p strong  {
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.contact-info a{
    text-decoration:none;
    color:currentColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.contact-info p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.conatct_info_left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.custom_contact_us_grid.contact{
    color: rgba(var(--color-foreground), 1);
}
.contact-info .list-social{
    justify-content: flex-start;
}
.contact-info .list-social {
    justify-content: flex-start;
    gap: 15px;
}
span.field_heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
    /* text-transform: capitalize; */
}
.custom_contact_us_grid .field:after ,.custom_contact_us_grid .field:hover.field:after{
    box-shadow:unset;
}
.custom_contact_us_grid .field__input:focus {
    box-shadow:unset;
}