.custom_contact_us_grid {
    display: flex;
    justify-content: space-between;
}
.conatct_left_side_content {
    max-width: 50%;
    width: 100%;
}
.conatct_right_side_content{
    max-width: 42.5%;
    width: 100%;
}
.left_info_grid {
    display: flex;
    gap: 100px;
}
h2.title.title-wrapper--no-top-margin.inline-richtext.h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 67px;
}
  .contact-info h4 , 
  .contact-info p strong  {
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.contact-info a{
    text-decoration:none;
    color:currentColor;
}